@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;

}
body {
  cursor: url('visuals/cursor.png'),auto;
}
@keyframes yellow-glow {
  0%, 100% {
    filter: drop-shadow(0 0 13px #ffff33);
  }
  50% {
    filter: drop-shadow(0 0 20px #ffff33);
  }
}
@keyframes green-glow {
  0%, 100% {
    filter: drop-shadow(0 0 10px #0afa7a);
  }
  50% {
    filter: drop-shadow(0 0 20px #0afa7a);
  }
}
.hidden{
  display:none !important;
}
.yellow {
    color: #ffff33;
    animation: yellow-glow 2s infinite ease-in-out;
}
.pink{
    color:#fc5df2;
}
.green{
    color:#0afa7a;
    font-weight:900;
    animation: green-glow 2s infinite ease-in-out;
}
.background{
    width:100%;
    height: 100vh;
    background-image: url(visuals/leyre-71SHXwBLp5w-unsplash.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.6);
    position:fixed;
    z-index:-1;
}

/*Navigator*/
.navigator{
  width:100%;
  height:80px;
  background-color: #00000014;
  position:fixed;
  font-size:30px;
  overflow:hidden;
  padding: 23px 25px;
  color: #fff;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.navigator a{
  flex-basis: 9%;
  text-decoration:none;
  color: #fff;
}
.logotext{
  flex-basis:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.logotext h5{
  font-weight:100;
  font-size:30px;
}
.logotext i{
  transition: 1s;
  transition-property: all;
}
.logotext i:hover{
  transform: rotate(180deg);
  filter: drop-shadow(0 0 10px #03e8fc);
}

/*HERO SECTION*/
.herocont{
    width:100%;
    height:100vh;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}
.herocont #herotext{
    flex-basis: 50%;
    color:#fff;
    font-size:35px;
    padding:30px 30px;
}
.herocont #herotext p{
    display:block;
    margin-top: 10px;
}
.herocont .weather{
    aspect-ratio: 1/1;
    border:2px solid #05c3f7;
    height:60%;
    margin-right: 160px;
    background-color: rgba(5, 195, 247, 0.203);
    color:#f2f0ef;
    padding:20px 20px;
    line-height: 2.1;
}
.herocont .weather h3{
    font-size:30px;
}
/*Menu*/
.menu{
  width:100%;
  height:100vh;
}
.menu i{
  display: block;
  position:absolute;
  right:70px;
  top:30px;
  font-size: 65px;
}
.menuflex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width:100%;
  margin-top:100px;
  gap:10px;
  font-size: 30px;
  padding:50px 0;
}